node-red/chat.txt
[{"id":"b4b71a94.e2ed38","type":"websocket in","z":"be89c2ae.50e6b","name":"","server":"5c4ad63c.548c58","client":"","x":190,"y":1240,"wires":[["209163e4.9740dc"]]},{"id":"209163e4.9740dc","type":"function","z":"be89c2ae.50e6b","name":"","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":364,"y":1240,"wires":[["95498035.d05e4"]]},{"id":"95498035.d05e4","type":"websocket out","z":"be89c2ae.50e6b","name":"","server":"5c4ad63c.548c58","client":"","x":545,"y":1240,"wires":[]},{"id":"7ef2c01a.27afc","type":"http in","z":"be89c2ae.50e6b","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":198,"y":1308,"wires":[["ede1bff4.e7e65"]]},{"id":"ede1bff4.e7e65","type":"template","z":"be89c2ae.50e6b","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n    messageBox.appendChild(message);\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n    var message = document.createTextNode(message);\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>","x":364,"y":1308,"wires":[["25e6d442.31770c"]]},{"id":"25e6d442.31770c","type":"http response","z":"be89c2ae.50e6b","name":"","x":507,"y":1308,"wires":[]},{"id":"5c4ad63c.548c58","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"}]