node-red/gabby-localhost-rednode.txt
[{"id":"cdb32091.cac43","type":"wiotp in","z":"4439f347.c4d3bc","authType":"g","deviceKey":"eebf9f9b.e5f21","deviceType":"","deviceId":"","command":"LED1C2","commandType":"g","qos":0,"name":"Test in (green)","x":174.99999809265137,"y":76.25000762939453,"wires":[["f9aa8db2.5bd68","a3e3be89.fd5d9"]]},{"id":"f9aa8db2.5bd68","type":"debug","z":"4439f347.c4d3bc","name":"test in","active":true,"console":"false","complete":"payload","x":332.50000762939453,"y":68.7500171661377,"wires":[]},{"id":"fa3fb258.adca1","type":"wiotp in","z":"4439f347.c4d3bc","authType":"g","deviceKey":"eebf9f9b.e5f21","deviceType":"","deviceId":"","command":"LED2C2","commandType":"g","qos":0,"name":"Test in (red)","x":173.75000762939453,"y":234.000018119812,"wires":[["a37baab8.668b68","3d2fd941.24e396"]]},{"id":"a37baab8.668b68","type":"debug","z":"4439f347.c4d3bc","name":"test in","active":true,"console":"false","complete":"payload","x":372.75000762939453,"y":209.000018119812,"wires":[]},{"id":"3e03e521.f477fa","type":"rpi-gpio out","z":"4439f347.c4d3bc","name":"LED P18","pin":"12","set":true,"level":"0","out":"out","x":492.75000762939453,"y":279.000018119812,"wires":[]},{"id":"d9923e70.e231","type":"rpi-gpio out","z":"4439f347.c4d3bc","name":"LED P23","pin":"16","set":true,"level":"0","out":"out","x":588.5000076293945,"y":67.7500171661377,"wires":[]},{"id":"3d2fd941.24e396","type":"function","z":"4439f347.c4d3bc","name":"fn","func":"state = parseInt(msg.payload);\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":320.75000762939453,"y":252.000018119812,"wires":[["3e03e521.f477fa"]]},{"id":"a3e3be89.fd5d9","type":"function","z":"4439f347.c4d3bc","name":"fn","func":"state = parseInt(msg.payload);\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":351.50000762939453,"y":122.7500171661377,"wires":[["d9923e70.e231"]]},{"id":"4777ba2d.bdbdd4","type":"mqtt in","z":"4439f347.c4d3bc","name":"","topic":"sensors/light","qos":"2","broker":"f3b16eb9.1fb43","x":174,"y":399,"wires":[["2fe5a231.aaa3fe"]]},{"id":"2fe5a231.aaa3fe","type":"debug","z":"4439f347.c4d3bc","name":"","active":true,"console":"false","complete":"payload","x":345,"y":406,"wires":[]},{"id":"bb5d3b9a.690058","type":"mqtt out","z":"4439f347.c4d3bc","name":"","topic":"sensors/light","qos":"","retain":"","broker":"f3b16eb9.1fb43","x":456.5,"y":479,"wires":[]},{"id":"ddd45568.a361f8","type":"inject","z":"4439f347.c4d3bc","name":"","topic":"sensors/light","payload":"{\"Light\":\"300\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":221.5,"y":481,"wires":[["bb5d3b9a.690058"]]},{"id":"2cabdbc9.0f11d4","type":"http in","z":"4439f347.c4d3bc","name":"Get Light (One-time)","url":"/getlight","method":"get","swaggerDoc":"","x":95,"y":676,"wires":[["e39de3b6.d6e99"]]},{"id":"e39de3b6.d6e99","type":"function","z":"4439f347.c4d3bc","name":"Get current light value","func":"light = global.get('light')\nmsg.payload = {'d':{'light':light}}\nreturn msg;","outputs":1,"noerr":0,"x":195,"y":750,"wires":[["4d4d3009.d52d"]]},{"id":"f7823286.e0a8e","type":"template","z":"4439f347.c4d3bc","name":"Show current light value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Light Values</title>\n    </head>\n    \n    <body>\n        {{#payload.light}}\n        Current light value is: {{payload.light}}\n        {{/payload.light}}\n    </body>\n</html>","x":415,"y":867,"wires":[["45313f05.e42e9"]]},{"id":"59f025d.5d8f2dc","type":"http in","z":"4439f347.c4d3bc","name":"Get Light(Time-Interval)","url":"/sensors/light","method":"get","swaggerDoc":"","x":141.5,"y":924,"wires":[["cdc2c47e.f6af68"]]},{"id":"cdc2c47e.f6af68","type":"template","z":"4439f347.c4d3bc","name":"Update every 3 seconds","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js\"></script>\n        <script>\n            function updatelight(){\n                var url = \"http://\" + window.location.host + \"/getlight\";\n                $.ajax({url:url,\n                    success:function(result){\n                        output = \"Time is \" + new Date();\n                        output += \"<br/>\" + result\n                        $(\"#status\").html(output);\n                    }\n                });\n            }\n            $(document).ready(function(){\n                setInterval(function(){updatelight()},3000);\n            });\n        </script>\n    </head>\n    \n    <body>\n        <div id=\"status\"></div>\n    </body>\n</html>","x":394,"y":913,"wires":[["45313f05.e42e9"]]},{"id":"45313f05.e42e9","type":"http response","z":"4439f347.c4d3bc","name":"","x":628,"y":921,"wires":[]},{"id":"ade067f7.087f18","type":"debug","z":"4439f347.c4d3bc","name":"","active":true,"console":"false","complete":"payload","x":584,"y":717,"wires":[]},{"id":"f65b4d26.0fe37","type":"wiotp out","z":"4439f347.c4d3bc","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"eebf9f9b.e5f21","deviceType":"gw-gabby","deviceId":"gwid-gw-gabby","event":"event","format":"json","qos":"","name":"Light Value to IBM","x":537,"y":778,"wires":[]},{"id":"4d4d3009.d52d","type":"json","z":"4439f347.c4d3bc","name":"","x":370,"y":729,"wires":[["ade067f7.087f18","f65b4d26.0fe37"]]},{"id":"eebf9f9b.e5f21","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"pxn6i3","serverName":"pxn6i3.messaging.internetofthings.ibmcloud.com","devType":"gw-gabby","devId":"gwid-gw-gabby","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"f3b16eb9.1fb43","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"/sensors/light","birthQos":"0","birthPayload":""}]