node-red/nodered_local.txt
[{"id":"7dc68e08.ee65d","type":"wiotp in","z":"c3071509.3771c8","authType":"g","deviceKey":"6be9442a.7a270c","deviceType":"","deviceId":"","command":"LED1C1","commandType":"g","qos":0,"name":"Test in","x":213,"y":173,"wires":[["b55674ac.a32ce8","554f442.43c40bc"]]},{"id":"b55674ac.a32ce8","type":"debug","z":"c3071509.3771c8","name":"test in","active":true,"console":"false","complete":"payload","x":365,"y":123,"wires":[]},{"id":"92e0e33f.586ae","type":"wiotp in","z":"c3071509.3771c8","authType":"g","deviceKey":"6be9442a.7a270c","deviceType":"","deviceId":"","command":"LED2C1","commandType":"g","qos":0,"name":"Test in","x":230,"y":267,"wires":[["15c75879.b8d8f8","7c091bf8.f76654"]]},{"id":"15c75879.b8d8f8","type":"debug","z":"c3071509.3771c8","name":"test in","active":true,"console":"false","complete":"payload","x":449,"y":242,"wires":[]},{"id":"d2012ea7.026cb","type":"rpi-gpio out","z":"c3071509.3771c8","name":"LED P18","pin":"12","set":true,"level":"0","out":"out","x":569,"y":312,"wires":[]},{"id":"5014ba14.08ba94","type":"rpi-gpio out","z":"c3071509.3771c8","name":"LED P23","pin":"16","set":true,"level":"0","out":"out","x":621,"y":122,"wires":[]},{"id":"7c091bf8.f76654","type":"function","z":"c3071509.3771c8","name":"fn","func":"state = parseInt(msg.payload);\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":285,"wires":[["d2012ea7.026cb"]]},{"id":"554f442.43c40bc","type":"function","z":"c3071509.3771c8","name":"fn","func":"state = parseInt(msg.payload);\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":177,"wires":[["5014ba14.08ba94"]]},{"id":"6be9442a.7a270c","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"y4yvpf","serverName":"y4yvpf.messaging.internetofthings.ibmcloud.com","devType":"gw-zhiwei","devId":"gwid-gw-zhiwei","keepalive":"60","cleansession":true,"tls":"","usetls":false}]